@model OlineAuctionMarketing.Models.DTO.Product.AuctionResponseModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.StartingPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.StartingPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.StartingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.StartingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.EndingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.EndingTime)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="DeleteAuction" asp-route-id="@Model.Data.Id" class="btn btn-danger"> <i class="fa-sharp fa-solid fa-trash"></i> Delete</a>
  
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>