@model OlineAuctionMarketing.Models.DTO.Product.AuctionResponseModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Online Auction</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="css/mdb.min.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    @if (TempData["Message"] != null)
    {
        <p>@TempData["Message"]</p>
    }
    <section class="py-5">
        <div class="container">
            <div class="row gx-5">
                <aside class="col-lg-6">
                    <div class="border rounded-4 mb-3 d-flex justify-content-center">
               <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" src="https://localhost:7161/Images/@Model.Data.Image">
           <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="https://localhost:7161/Images/@Model.Data.Image" />
                        </a>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" src="https://localhost:7161/Images/@Model.Data.Image" class="item-thumb">
                            <img width="60" height="60" class="rounded-2" src="https://localhost:7161/Images/@Model.Data.Image" />
                        </a>
                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" src="https://localhost:7161/Images/@Model.Data.Image" class="item-thumb">
                            <img width="60" height="60" class="rounded-2" src="https://localhost:7161/Images/@Model.Data.Image" />
                        </a>
                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" src="https://localhost:7161/Images/@Model.Data.Image" class="item-thumb">
                            <img width="60" height="60" class="rounded-2" src="https://localhost:7161/Images/@Model.Data.Image" />
                        </a>
                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" src="https://localhost:7161/Images/@Model.Data.Image" class="item-thumb">
                            <img width="60" height="60" class="rounded-2" src="https://localhost:7161/Images/@Model.Data.Image" />
                        </a>
                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" src="https://localhost:7161/Images/@Model.Data.Image" class="item-thumb">
                            <img width="60" height="60" class="rounded-2" src="https://localhost:7161/Images/@Model.Data.Image" />
                        </a>
                    </div>
                    <!-- thumbs-wrap.// -->
                    <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-lg-6">
                    <div class="ps-lg-3">
                        <h4 class="title text-dark">
                            @Model.Data.ProductName <br />
                        </h4>
                        <div class="d-flex flex-row my-3">
                            </div>
                            
                        </div>

                        <div class="mb-3">
                            <span class="h5">$@Model.Data.StartingPrice</span>
                        </div>

                        <p>
                            @Model.Data.Description
                        </p>
                    <h1>Countdown Timer</h1>
                    <div id="countdown"></div>

                        <div class="row">
                            <dt class="col-3">Numbers of bidder</dt>
                            <dd class="col-9">@Model.Data.NumberOfBids: </dd>

                            <dt class="col-3">Ends Time</dt>
                            <dd class="col-9">@Model.Data.EndingTime</dd>

                            <dt class="col-3">Created Date</dt>
                            <dd class="col-9">@Model.Data.Created</dd>

                            <li class="nav-item">
                            <a class="nav-link" asp-action="GetAllAuctionBidders" asp-route-auctionId="@Model.Data.Id">View Bidder</a>
                            </li>
                        </div>

                        <hr />
                       
                        <!-- col.// -->
                             <form asp-action="Create">
                            <div class="col-md-4 col-6 mb-3">
                                <input asp-for="Data.Id" name="AuctionId" type="hidden" />
                                <label class="mb-2 d-block">Price</label>
                                <input name="Price" type="number" class="form-control" min="@Model.Data.StartingPrice" value="@Model.Data.StartingPrice" />
                                <input type="submit" value="Bid now" class="btn btn-success"/>
                            </div>
                        </form>
                    </div>
            </div>
            </main>
        </div>
    </section>
    <!-- content -->

  
    <!-- Footer -->
    <footer class="text-center text-lg-start text-muted bg-primary mt-3">
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start pt-4 pb-4">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-12 col-lg-3 col-sm-12 mb-2">
                        <!-- Content -->
                        <a href="https://localhost:7161/" target="_blank" class="text-white h2">
                            OnlineAuction
                        </a>
                        <p class="mt-1 text-white">
                            © 2023 Copyright: OnlineAuction.com 
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-6 col-sm-4 col-lg-2">
                        <!-- Links -->
                        <h6 class="text-uppercase text-white fw-bold mb-2">
                            Store
                        </h6>
                        <ul class="list-unstyled mb-4">
                            <li><a class="text-white-50" href="#">About us</a></li>
                            <li><a class="text-white-50" href="#">Find store</a></li>
                            <li><a class="text-white-50" href="#">Categories</a></li>
                            <li><a class="text-white-50" href="#">Blogs</a></li>
                        </ul>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-6 col-sm-4 col-lg-2">
                        <!-- Links -->
                        <h6 class="text-uppercase text-white fw-bold mb-2">
                            Information
                        </h6>
                        <ul class="list-unstyled mb-4">
                            <li><a class="text-white-50" href="#">Help center</a></li>
                            <li><a class="text-white-50" href="#">Money refund</a></li>
                            <li><a class="text-white-50" href="#">Shipping info</a></li>
                            <li><a class="text-white-50" href="#">Refunds</a></li>
                        </ul>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-6 col-sm-4 col-lg-2">
                        <!-- Links -->
                        <h6 class="text-uppercase text-white fw-bold mb-2">
                            Support
                        </h6>
                        <ul class="list-unstyled mb-4">
                            <li><a class="text-white-50" href="#">Help center</a></li>
                            <li><a class="text-white-50" href="#">Documents</a></li>
                            <li><a class="text-white-50" href="#">Account restore</a></li>
                            <li><a class="text-white-50" href="#">My orders</a></li>
                        </ul>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-12 col-sm-12 col-lg-3">
                        <!-- Links -->
                        <h6 class="text-uppercase text-white fw-bold mb-2">Newsletter</h6>
                        <p class="text-white">Stay in touch with latest updates about our products and offers</p>
                        <div class="input-group mb-3">
                           
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <div class="">
            <div class="container">
                <div class="d-flex justify-content-between py-4 border-top">
                    <!--- payment --->
                    <div>
                        <i class="fab fa-lg fa-cc-visa text-white"></i>
                        <i class="fab fa-lg fa-cc-amex text-white"></i>
                        <i class="fab fa-lg fa-cc-mastercard text-white"></i>
                        <i class="fab fa-lg fa-cc-paypal text-white"></i>
                    </div>
                    <!--- payment --->
                    <!--- language selector --->
                    <div class="dropdown dropup">
                        <a class="dropdown-toggle text-white" href="#" id="Dropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false"> <i class="flag-united-kingdom flag m-0 me-1"></i>English </a>

                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="Dropdown">
                            <li>
                                <a class="dropdown-item" href="#"><i class="flag-united-kingdom flag"></i>English <i class="fa fa-check text-success ms-2"></i></a>
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="#"><i class="flag-poland flag"></i>Polski</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"><i class="flag-china flag"></i>中文</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"><i class="flag-japan flag"></i>日本語</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"><i class="flag-germany flag"></i>Deutsch</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"><i class="flag-france flag"></i>Français</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"><i class="flag-spain flag"></i>Español</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"><i class="flag-russia flag"></i>Русский</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"><i class="flag-portugal flag"></i>Português</a>
                            </li>
                        </ul>
                    </div>
                    <!--- language selector --->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
    <!-- MDB -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript" src="js/script.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Set the target date and time for the countdown
            var countDownDate = new Date("May 31, 2023 12:00:00").getTime();

            // Update the countdown every second
            var countdownTimer = setInterval(function () {
                // Get the current date and time
                var now = new Date().getTime();

                // Calculate the remaining time
                var distance = countDownDate - now;

                // Check if the countdown has ended
                if (distance <= 0) {
                    clearInterval(countdownTimer);
                    document.getElementById("countdown").innerHTML = "Countdown Ended";
                    return;
                }

                // Calculate the days, hours, minutes, and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Display the countdown in the "countdown" div
                document.getElementById("countdown").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s";
            }, 1000);
        });
    </script>
</body>
</html>


